/*---------------------
                              text adjustments
                              ------------------------*/
html {
  background-color: #dd9a9a;
  z-index: -1;
  margin: 2px 2px 2px 2px;
  size-adjust: auto;
  width: auto;
}
.leftside {
  padding: 15px;
  margin-left: 0px;
}
.rightside {
  padding: 5px;
  margin-left: 0px;
}
h1 {
  color: black;
}
ul {
  list-style-type: none;
  padding: 5px 20px;
  text-align: left;
  z-index: 0;
}
a {
  color: #ff1111;
}
h1 {
  font-size: 28px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  background-color: #da2020;
  border-radius: 80%;
  border-width: 5px;
  border-style: solid;
  top: 90px;
  padding: 16px 10px 16px 10px;
  margin: 20px 5px 30px 0px;
  position: relative;
}
h5{
  margin: 30px 5px 30px 0px;
  padding: 10px 10px 10px 10px;
  position: relative;
  top: 90px;
}
/*---------------------
                              top of the screen
                              ------------------------*/
.headings {
  color: #ffffff;
  background-color: #da2020;
  padding-left: 16px;
  background-position: center;
  font-size: 18px;
  text-indent: 35%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  margin: 0px 0px 0px 0px;
}
.header {
  font-size: 20px;
  background-color: #fadfdf;
  margin: 0px 0px 0px 160px;
  padding: 5px 0px 30px 0px;
  height: 300px;
  border: 5px 5px 5px 5px;
  border-radius: 30px;
  border-width: 5px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-content: center;
  flex-wrap: wrap-reverse;
  z-index: 3;
}
.box1 {
  padding: 30px 100px 20px 20px;
  text-align: left;
  flex-direction: column;
  flex-wrap: wrap;
  flex: content;
  flex: 1;
  right: auto;
}
.box2 {
  display: flex;
  border: 1px 1px 1px 1px;
  padding: 20px 10px 5px 20px;
  border: 5px black;
  flex-direction: column;
  flex-wrap: wrap;
  bottom: 0px;
  line-height: 1px;
}
.box3 {
  padding-left: 180px;
  padding-right: 120px;
  padding-bottom: 40px;
  border: 50px;
  flex: 50px;
  text-align: center;
  flex: 2;
}
img{
  margin: 10px 0px 0px 0px;
  border: 1px 1px 1px 1px;
  padding: 10px 10px 10px 10px;
  align-items: center;
  border-radius: 50%;
  left: 180px;
  position: relative;
}
.banner{
  position: absolute;
  margin: 1px 1px 1px 1px;
  border: 5px 5px 5px 5px;
  padding: 0px 0px 0px 0px;
  top: 540px;
  right: 50px;
  font-size: 75px;
  font-style: italic;
}
.coverpage{
  margin: 5px 5px 30px 160px;
  padding: 1px 1px 300px 1px;
  border: 5px 5px 5px 5px;
  border-style: solid;
  border-width: 2px;
  border-radius: 30px;
  background-image: url(/FTC2301_naeem_Brandon-Bruyns_resume-main/images/5640557.jpg);
  background-repeat: no-repeat;
  background-position: top;
}
/*---------------------
                              middle of the screen
                              ------------------------*/
p {
  text-align: left;
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-left: 50px;
  padding-right: 50px;
}
.content {
  border-style: solid;
  border-color: black;
  border-width: 5px;
  border-spacing: 5px;
  border-radius: 30px;
  background-color: #fadfdf;
  margin: 5px 2px 0px 160px;
}
/*---------------------
                              left side of the screen
                              ------------------------*/
.nav {
  border: 5px 5px 5px 1px;
  margin-left: 2px;
  margin-right: 8px;
  position: absolute;
  display: flex;
  width: 160px;
  height: auto;
  padding-left: 6px;
  left: 0px;
  padding: auto;
  font-size: 20px;
  flex-direction: row;
  text-indent: 0px;
  text-align: center;
  margin-top: 335px;
  top: 0px;
  line-height: 50px;
  z-index: 0;
}
.top {
  position: fixed;
  background-color: #fadfdf;
  padding: 0px 0px 0px 0px;
  bottom: 460px;
  text-align: center;
  width: 150px;
  height: 45px;
  left: 18px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}
.Education {
  position: fixed;
  background-color: #fadfdf;
  padding: 0px 0px 0px 0px;
  bottom: 410px;
  text-align: center;
  width: 150px;
  height: 45px;
  left: 18px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}
.Qualification {
  position: fixed;
  background-color: #fadfdf;
  padding: 0px 0px 0px 0px;
  bottom: 360px;
  text-align: center;
  width: 150px;
  height: 45px;
  left: 18px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}
.Experience {
  position: fixed;
  background-color: #fadfdf;
  padding: 0px 0px 0px 0px;
  bottom: 310px;
  text-align: center;
  width: 150px;
  height: 45px;
  left: 18px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}
.Skills {
  position: fixed;
  background-color: #fadfdf;
  padding: 0px 0px 0px 0px;
  bottom: 260px;
  text-align: center;
  width: 150px;
  height: 45px;
  left: 18px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}
.bottom {
  position: fixed;
  background-color: #fadfdf;
  padding: 0px 0px 0px 0px;
  bottom: 210px;
  text-align: center;
  width: 150px;
  height: 45px;
  left: 18px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}
/*---------------------
                              bottom of the screen
                              ------------------------*/
footer {
  border-style: solid;
  border-color: black;
  border-width: 5px;
  border-spacing: 5px;
  border-radius: 30px;
  background-color: #fadfdf;
  margin: 20px 2px 20px 160px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  border: 10px 1px 1px 1px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
input {
  width: 200px;
  height: 30px;
}
textarea {
  width: 1000px;
  height: 150px;
  size-adjust: auto;
}
.submit {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
select {
  width: 250px;
}
