h1{
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    background-color: #da2020;
    padding: 6px;
    text-align:center;
}
.headings{
    color:#ffffff;
    background-color: #da2020;
    font-size:18px;
    text-indent: 35%;
}
