h1 {
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  background-color: #da2020;
  padding: 6px;
  text-align: center;
}
h2{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  padding: 6px;
  text-align: left;
}
h3 {
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  padding-left: 50px;
  text-align: left;
}
h4{
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:black;
  padding-left: 6px;
  text-align: left;
}
.headings {
  color: #ffffff;
  background-color: #da2020;
  padding-left: 6px;
  background-position: center;
  font-size: 18px;
  text-indent: 35%;
}
p {
  text-align: left;
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-left: 50px;
  padding-right: 50px;
}
img {
  position: relative;
  left: 120px;
  border-radius: 100%;
  image-resolution: 80%;
}
li {
  align-items: normal 50px;
  padding-left: 50px;
  list-style: square;
}
a {
  color: #ff1111;
}
html {
  background-color: #fadfdf;
  padding-block: 20px;
  border-color: black;
  border-width: 15px;
  margin: 15px;
}
.header {
  font-size: 40px;
  background-color: #fadfdf;
  margin: 0px 20px 0px 20px;
  border-top: 20px;
  border-right: 20px;
  border-bottom: 20px;
  border-left: 20px;
  border-radius: 30px;
  border-width: 5px;
  border-color: rgb(0, 0, 0);
  border-style:solid;

}
.content{
  border-style:solid;
  border-color: black;
  border-width: 5px;
  border-spacing: 5px;
  border-radius: 30px;
  background-color:#fadfdf;
  margin: 20px 20px 0px 20px;

}
footer{
  border-style:solid;
  border-color: black;
  border-width: 5px;
  border-spacing: 5px;
  border-radius: 30px;
  background-color:#fadfdf;
  margin: 20px 20px 0px 20px;

}
